body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-image: url('../background.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center; 
    color: white;
}

.fn {
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}

.panelOption {
    margin-left: 5%;
}

/* button:disabled {
   
} */

.row {
    margin: 0;
    padding: 0;
}

.panel {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 500px;
    margin-left: 5%;
    padding: 15px;
}

.result-panel {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 800px;
    margin-left: 5%;
}

/* LOADER */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    visibility: hidden;
}
  
/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

  /* compare panel */

.compare {
    margin-left: 5%;
}

.compare .panel-vs .versus {
    font-size: 40px;
    margin-top: 30px;
}

.panel-vs {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 15px;
    max-width: 800px;
}

.console-select {
    padding-top: 8px;
    padding-bottom: 8px;
}

.compare .panel-vs .compLoad {
    margin-top: -90px;
    width: 100px;
    height: 100px;
}

.compare-results {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px;
    display: none;
}

.compare-results .card {
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.85);
    border-color: white;
}

.compare-results .card-col .card{
    border-color: YELLOW;
}

.compare-results .card h4{
    font-size: 40px;
    -webkit-text-stroke: 1px blue;

}

.compare-results .card hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.5px solid white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 1em 0;
    padding: 0; 
    max-width: 85%;
}

.compare-results .card .card-title {
    font-size: 25px;
}

.compare-results .card .category {
    font-size: 35px;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}
.sub-cards .card {
    margin-top: 8px;
    min-width: 115px;
}

.card-col {
    margin: 0;
    padding: 0;
}




/* The Modal */
.close {
    margin-left: 95%;
    float: right;
}
 .error {
     visibility: hidden;
 }

.modal-content {
    background-color: #e60000;
 }

.modal-title {
    font-size: 40px;
}

.modal-body {
     background-color: white;
     color: black;
     font-size: 17px;
     -webkit-text-stroke: 1px white;
 }



